/* como utilizar rem (unidad de medida) */



/* forma de iniciar un documento en css */
* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
html {
    font-size: 62.5%;
}

.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: rgb(201, 201, 109);
}
.main-nav__item {
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 0.5rem;
    border-radius: 0.3rem;
    text-decoration: none;
}
.main-nav__item a:hover {
    color:blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-nav__item a:active {
    color: red;
}
.main-nav__item a::after {
    content: " ° ";
}

h1 {
    background-color: aquamarine;
}
.form div{
    display: flex;
}
.form1 {
    position: absolute;
    top: 50rem;
}
.footer p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    position: absolute;
    bottom: 0%;
}


/* forma de colocar una caja contenedora de algo sin tener que hacer scroll en la pagina para los costados o para abajo, que no me quede espacios en blanco, ya que vienen por defecto en el nacegador
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
en caso que nuestra caja se encuentre en el main

main {
    width: 100%;
    height: 500px;
    border: 10px solid grey;
    padding: 20px 35px;
} */
